<!-- flash-message -->
<div class="row" id="flash-widget" ng-if="flash">
	<div class="span12">					
		<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>						
	</div>
 </div>
 <!-- /flash-message -->
 
<!--  File upload starts -->
<div class="row" id="main-container">
	<div class="span12">
  
		<div class="widget widget-table action-table">
			<div class="widget-header"> <i class="icon-upload"></i>
				<h3>Upload File </h3>
			</div>	
			<!-- /widget-header -->
	
				
			<div class="widget-content">				
				
				   <div class="row" style="padding-left:10px; margin-top:10px;">
					<form ng-submit="uploadFile()" method="post" name="fileUploadFrm" >
						<fieldset>
							<div class="span3">
								<div class="form-group">
									<label for="title">File Title</label>
									<input type="text" name="title" id="title" ng-model="upload.title" autocomplete="off" required/>
								</div>
							</div>
							<div class="span3">
								<div class="form-group">
									<label for="file">Upload file</label>
									<input type="file" name="file-1" id="file-0" ng-model="upload.file" ngf-select ngf-max-size="2MB" required/>
									<br/><span><b>Allowed file types :</b> jpg, jpeg, gif, png, txt, doc, docx, pdf, xls, xlsx, zip </span>
								</div>
							</div>
							<div class="span5">
								<div class="form-group">
									<label for="submit">&nbsp;</label>
									<input type="submit" value="Submit" class="btn  btn-success"/>
								</div>
							</div>
						</fieldset>
					</form>		
				 
			  </div>
			</div>
		  
	
		</div>
		<!-- /widget- action-table -->
	</div>
	<!-- /span12 -->
</div>
<!-- /row -->

<!--  File upload ends -->

<div class="row">
<div class="span12">
  
    <div class="widget widget-table action-table">
	<div class="widget-header"> <i class="icon-th-list"></i>
	  <h3>My files </h3>
	  <span style="float:right; padding-right:10px;"><b>Total No.of files</b>: {{uploadsdata.length}} </span>
	</div>
	<!-- /widget-header -->		  
		  
	<div class="widget-content" id="uploadListWidget">
				
		<table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered" id="uploadListTbl">
			<tbody>
				<tr ng-repeat="upload in $data" id="row-{{$index}}" ng-class="{recent_uploaded_file:  (uploaded_file_id == upload._id) }" >
					<td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">
						{{upload.title}}
					</td>
					<td data-title="'File Name'" sortable="'originalname'" filter="{ 'originalname': 'text' }">
						{{upload.originalname}}
					</td>
					<td data-title="'Mime Type '" sortable="'mimetype'" filter="{ 'mimetype': 'text' }">
						{{upload.mimetype}}
					</td>
					<td data-title="'File Size'" sortable="'size'" filter="{ 'size': 'text' }">
						{{upload.size}}
					</td>				
					<td data-title="'Actions'">							
						<a ng-href='{{"../"+upload.path + "/" + upload.originalname}}'><button class="btn  btn-success">Download</button></a>
						<a href='javascript:void(0);' ng-click="deleteFile(upload._id,upload.filename,'row-'+$index)"><button class="btn  btn-success" >Delete</button></a>
						
					</td>
				</tr>
			</tbody> 
		</table> 

	
	</div>
	<!-- /widget-content --> 
  </div>
  <!-- /widget --> 


  
</div>
<!-- /span12 --> 
</div>
<!-- /row --> 

 